/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Full screen background */
.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height to ensure the container fills the viewport */
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Background image for specific weather conditions */
.weather-app.clouds {
  background-image: url('./images/clouds-1.png');
}

/* Container for search box and results */
.form-form-container {
  max-width: 600px; /* Initial max-width for desktop */
  width: 100%; /* Initial width to fill the parent container */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7); /* Background color with 70% opacity */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Add padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  border: 2px solid #ccc; /* Add border for visibility */
  z-index: 1; /* Set a higher z-index */
  /* Add padding for mobile devices */
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  /* Adjust max-width for larger screens */
  .form-form-container {
      max-width: 800px; /* Adjust as needed */
  }
}


/* Apply the font to the input fields */
#cityInput, #stateInput {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 15px;
    font-size: 1.2rem;
    font-family: 'Play', sans-serif;
    background-color: transparent;
    margin-bottom: 10px; /* Add space between input fields */
}

#cityInput:focus, #stateInput:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
}

label {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-data {
    margin-top: 20px;
}

.weather-data img {
    margin-top: 10px;
}

.weather-data p, .weather-data h1 {
    color: #333;
}

/* Align paragraph items to the left */
.align-left {
    text-align: left;
    margin: 0 0 15px 0;
    display: flex;
    flex-direction: column;
}
