.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: fixed; /* Change position to fixed */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the dialog */
    z-index:4;
    background-color: black;
  }

  .dialog:hover {
    box-shadow: 0 8px 6px -6px black;
    position: fixed; /* Change position to fixed */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the dialog */
    z-index:4;
    background-color: black;
  }
  
  .imageOpen {
    width: 800px;
    z-index: 20;
    /* cursor: zoom-out; */
  }
  
  .small {
    width: 300px;
    z-index:10;
    /* cursor: zoom-in; */
  }
  