/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  /* color: #333; */
  background-image: url('assets/images/marble-background-3.png');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* Center container */
.container {
  width: 100%;
  max-width: 1200px; /* Example max-width for desktop */
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the header section */
.App-header {
  background-color: #282c34;
  min-height: 100vh; /* Ensure the header covers the entire viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for links */
.App-link {
  color: #61dafb;
}

/* Responsive design */
@media (max-width: 768px) {
  /* Adjust container width for smaller screens */
  .container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  
  body {
    background-size: 100%; /* Resize the background image to fit the container without cropping */
    background-image: url('assets/images/marble-background-mobile.png');
  }
}
